$('#cartButton').html("#{escape_javascript render 'cart_button'}");
$('#alertSection').removeClass('hidden');
$('#alertSection').addClass('alert-success');
$('#alertSection span').text('Product added to your cart.');