%h3 Cart Items

.row
  = render 'cart_items'

.row
  .col-md-12{style: "padding-right: 0"}
    - if @cart_products.present?
      = link_to "Proceed to checkout", checkout_carts_path, class: 'btn btn-success pull-right'
      = link_to "Continue Shopping", root_path, class: 'btn btn-primary pull-right', style: "margin-right: 10px;"