.row
  .col-sm-12#cartButton{style: 'padding-bottom: 10px;'}
    = render 'carts/cart_button'

.row
  - @products.each do |product|
    .col-lg-4.col-md-5.col-sm-7.portfolio-item
      .card.h-100
        %img.card-img-top{:alt => "", :src => "http://placehold.it/700x400"}
        .card-body
          %h4.card-title
            = product.name

          %p.card-text
            %strong
              Price : 
              = number_to_currency(product.price.to_f, precision: 2)

        = link_to "Add To Cart", add_to_cart_path(product_id: product.id), method: :post, remote: true, class: 'btn btn-info'